body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $secondary-color;
}

.page-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: flex;

  &.column {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
    align-items: flex-end;
  }
}